<template name="room">
  Hi, this is Room!<br />

  {{#if loading}}
    <div id="lists">Loading...</div>
  {{else}}

    {{#if isDebug}}
      You are User {{currentUserId}} in this Room!
      <div>
        Room {{room.roomId}} has {{room.users.length}} Users currently.
      </div>
    {{/if}}

    <div>
      <br />
      {{#if isViewer}}
        <div>
          <strong>This Room is not valid anymore!</strong>
        </div>
      {{else}}
        <div>
          <strong>Hello Remote-Fanboy</strong>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <div command="toggleLight" class="btn btn-large">Toggle Light</div>
            <div command="togglePlay" class="btn btn-large">Play / Pause</div>
            <div command="toggleFullscreen" class="btn btn-large">Toggle Fullscreen</div>
            <div command="goBack" class="btn btn-large">go Back</div>
          </div>
          <div class="span4">
            <ul>
              {{#each room.listener}}
              <li class="list">
                Name: {{name}}, Classes: {{classes}} <div xpath="{{xpath}}" class="btn push listener">Push</div>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="span4">
          </div>
          {{#if isDebug}}
           <!--  <div class="span4">Search Youtube Video
              <input class="query" type="text" />
              <div command="youtubeSearch" class="btn">Go</div>
            </div> -->
          {{/if}}
        </div>
      {{/if}}
    </div>

    {{#if isDebug}}
      {{#if room.users}}
        <br />
        <div>
          <ul>Userlist:
            {{#each room.users}}
            <li class="list">
              {{name}}
            </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    {{/if}}

  {{/if}}
</template>