<template name="room">
  Hi, this is Room!<br />
  You are User {{currentUserId}} in this Room!
  {{#if loading}}
    <div id="lists">Loading...</div>
  {{else}}
    <div>--> {{room.roomId}} with {{room.users.length}} Users</div>
    <div>
      <br />
      {{#if isViewer}}
        <div><strong>You are Viewer!!</strong></div>
      {{else}}
        <div><strong>You are Controller!!</strong>
        <input type="button" class="btn toggleLight" value="Toggle Action" /></div>
        <div>
          <input class="query" type="text" /><input type="button" class="btn vimeo" value="Go" /></div>
        </div>
      {{/if}}
      <br />
    </div>
    {{#if room.users}}
    <div>
      <ul>Userlist:
        {{#each room.users}}
        <li class="list">
          {{name}}
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  {{/if}}
</template>