<template name="room">
  Hi, this is Room!<br />

  {{#if loading}}
    <div id="lists">Loading...</div>
  {{else}}

    {{#if isDebug}}
      You are User {{currentUserId}} in this Room!
      <div>
        Room {{room.roomId}} has {{room.users.length}} Users currently.
      </div>
    {{/if}}

    <div>
      <br />
      {{#if isViewer}}
        <div>
          <strong>This Room is not valid anymore!</strong>
        </div>
      {{else}}
        <div>
          <strong>Hello Remote-Fanboy</strong>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <button type="button" command="toggleLight" class="btn btn-default btn-large">Toggle Light</button>
            <button type="button" command="togglePlay" class="btn btn-default btn-large">Play / Pause</button>
            <button type="button" command="toggleFullscreen" class="btn btn-default btn-large" disabled>Toggle Fullscreen</button>
            <button type="button" command="goBack" class="btn btn-default btn-large">go Back</button>
            <button type="button" command="toggleNav" class="btn btn-default btn-large">toggle Nav</button>
          </div>
          <div class="span4">

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Class</th>
                  <th>#</th>
                </tr>
              </thead>
              <tbody>
                {{#each room.listener}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{classes}}</td>
                  <td><button type="button" xpath="{{xpath}}" class="btn btn-default push listener">Push</button></td>
                </tr>
                {{/each}}
              </tbody>
            </table>

          </div>
          <div class="span4">
          </div>
          {{#if isDebug}}
           <!--  <div class="span4">Search Youtube Video
              <input class="query" type="text" />
              <div command="youtubeSearch" class="btn">Go</div>
            </div> -->
          {{/if}}
        </div>
      {{/if}}
    </div>

    {{#if isDebug}}
      {{#if room.users}}
        <br />
        <div>
          <ul>Userlist:
            {{#each room.users}}
            <li class="list">
              {{name}}
            </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    {{/if}}

  {{/if}}
</template>